

.inhalt{
    left: 100px;
    
   

}
body{

  margin-left: 20%;
margin-right: 20%;

}





.button, h2 {
  font-family: 'Lato','regular';
  padding: 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  
  margin-left: auto;
  margin-right: auto;
 width:500px;
  font-size: 2em;
 
  transition-duration: 0.4s;

}


.button {
    background-color: #b2d6d6;
    
    cursor: pointer;
  border:none;
}

.button:hover {
background-color:#55d6d6 ; 
 
}

