

.inhalt{

   

    margin-left: 20em;
    margin-right: 20em;
}
p{
    line-height:  150%;
    font-size: 1.4em;
    font-family: 'Work Sans', sans-serif;


}
a{
    text-decoration: none;
color: blue;


}

.blocks{

    display: grid;
    grid-template-columns: auto auto ;
    padding-bottom: 50px;
}

#me{
    padding-right: 50px;
    padding-top: 50px;
    width:10em;
  
}


.bilder{
    
    display: grid;
    grid-template-columns: auto auto auto ;
  top: 140px;
    border-top: solid lightgrey;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.bilder img{

    width: 20em;
    padding: 20px;
}


















